{% extends "bootstrap/base.html" %}

{% block title %} Lista conturi {% endblock %}

{% block styles %}
  {{ super() }}
  <link href="../static/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="../static/css/dataTables.tableTools.css" rel="stylesheet">
  <link href="../static/css/dataTables.bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/app.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
  
  {% import "macros.html" as macros %}
  {{ macros.mainnavmenu(session) }}

{% endblock %}

{% block content %}
    
    <div class="container">
    {% import "macros.html" as macros %}
    {{ macros.flashing() }}

        <div class="row content-header">
          <div class="col-md-6">
            <h1><strong>Lista membri</strong></h1>
          </div>
          {% if g.user.permissions in ['full'] %}
          <div class="col-md-6 pull-right" style="margin-top:25px;">   
              <span class="pull-right" style="margin-right: 10px;">
                <a href="{{url_for('users.adduser')}}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Adauga utilizator</a>
              </span>
          </div>
          {% endif %}
        </div>
        <div class="panel panel-primary">
          <div class="panel-body">
            
            <table id="maintable" class="table" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th width="40%">Nume</th>
                    <th width="10%">Inregistrare</th>
                    <th width="10%">Activ</th>
                    <th width="40%">Specializari</th>
                  </tr>
                </thead>
                  <tbody>
                     {% for t in results %}
                     <tr>
                      <td><a href="{{url_for('users.detailuser',id=t.id)}}">{{t.username}}</a>
                        <span class="pull-right">
                        {% if t.id != g.user.id %}
                        <a href="{{url_for('messages.addmessage',id=t.id)}}" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="bottom" title="Trimite mesaj">
                          <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                        {% endif %}
                        {% if t.id != g.user.id and g.user.permissions in ['full'] %}
                        {% if t.status %}
                        <a href="{{url_for('users.ajaxedit',action='deactivate',id=t.id)}}" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="bottom" title="Dezactiveaza cont">
                          <span class="glyphicon glyphicon-ban-circle"></span>
                        </a>
                        {% else %}
                        <a href="{{url_for('users.ajaxedit',action='activate',id=t.id)}}" class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="bottom" title="Activeaza cont">
                          <span class="glyphicon glyphicon-ok"></span>
                        </a>
                        {% endif %}
                        {% if t.permissions in ['full']%}
                        <a href="{{url_for('users.ajaxedit',action='mkuser',id=t.id)}}" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="bottom" title="Transforma in user">
                          <span class="glyphicon glyphicon-arrow-down"></span>
                        </a>
                        {% else %}
                        <a href="{{url_for('users.ajaxedit',action='mkadmin',id=t.id)}}" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="bottom" title="Transforma in admin">
                          <span class="glyphicon glyphicon-arrow-up"></span>
                        </a>
                        {% endif %}
                        <a href="{{url_for('users.ajaxedit',action='delete',id=t.id)}}" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Sterge cont">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        {% endif %}</span></td>
                      <td>{{moment(t.joindate).format('D MMM YYYY')}}</td>
                      <td>{{t.status|boolswitch()}}</td>
                      <td>{{t.specialties|join(',')}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
        
      </div>
    

{% endblock %}

{% block scripts %}
{{ super() }}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <script src="../static/js/jquery.dataTables.min.js"></script>
    <script src="../static/js/dataTables.tableTools.js"></script>
    <script src="../static/js/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#maintable').dataTable( {
            paging:   true,
            ordering: true,
            info:     true,
            searching: true,
            stateSave: true,
            language: {
              info : "Pagina _PAGE_ din _PAGES_",
              search: "Cauta:",
              lengthMenu: "Afiseaza _MENU_ rezultate",
              paginate: {
                first: "Prima",
                previous: "Precedenta",
                next: "Urmatoarea",
                last: "Ultima"
              }
            },
            dom: 'T<"clear">lfrtip',
            tableTools: {
              "sRowSelect": "multi",
              "aButtons": ["select_all","select_none"]
            }
        } );
      } );
      window.setTimeout(function() {
    $(".alert").fadeTo(1500, 0).slideUp(100, function(){
        $(this).remove(); 
    });
}, 2000);

    </script>
{% endblock %}